Day 4 - how many cases of overlapping duties in pairs?

In [61]:
import pandas as pd

In [62]:
data = pd.read_csv('day4-input.csv')
data.tail()

        p1     p2
995  59-77  59-81
996   1-99   1-98
997  31-96  32-95
998  13-72  14-55
999  23-79  22-24

In [63]:
data['p1'] = data['p1'].apply(lambda x: x.split('-'))
data['p2'] = data['p2'].apply(lambda x: x.split('-'))
data.head()

         p1        p2
0   [7, 24]    [8, 8]
1   [2, 75]  [37, 51]
2  [47, 78]  [20, 39]
3  [53, 91]  [34, 53]
4  [13, 50]  [14, 50]

In [83]:
def containment(l1, l2):
    """
    Returns True if one list's range fully contains the other
    """
    if (int(l1[0]) <= int(l2[0])) and (int(l1[1]) >= int(l2[1])):  # was getting wrong results when keeping them as strings which makes sense, different comparison happening
        return True
    if (int(l2[0]) <= int(l1[0])) and (int(l2[1]) >= int(l1[1])):
        return True
    return False

apply function to p1 and p2 cells to return result in the new 'contained' column

In [86]:
data['contained'] = data.apply(lambda x: containment(x.p1, x.p2), axis=1)
data.tail()

           p1        p2  contained
995  [59, 77]  [59, 81]       True
996   [1, 99]   [1, 98]       True
997  [31, 96]  [32, 95]       True
998  [13, 72]  [14, 55]       True
999  [23, 79]  [22, 24]      False

In [85]:
data['contained'].sum()

562

Part 2: ANY overlap not just complete overlap

(x,y) - (a,b)

if x <= a and y >= a
if x <= b and y >= b

In [90]:
def overlap(l1, l2):
    """
    Returns True if one list's overlaps at all with the other
    """
    if (int(l1[0]) <= int(l2[0])) and (int(l1[1]) >= int(l2[0])): 
        return True
    if (int(l1[0]) <= int(l2[1])) and (int(l1[1]) >= int(l2[1])):
        return True
    if (int(l2[0]) <= int(l1[0])) and (int(l2[1]) >= int(l1[0])):
        return True
    if (int(l2[0]) <= int(l1[1])) and (int(l2[1]) >= int(l1[1])):
        return True
    return False

In [97]:
data['overlap'] = data.apply(lambda x: overlap(x.p1, x.p2), axis=1)
data.head()

         p1        p2  contained  overlap
0   [7, 24]    [8, 8]       True     True
1   [2, 75]  [37, 51]       True     True
2  [47, 78]  [20, 39]      False    False
3  [53, 91]  [34, 53]      False     True
4  [13, 50]  [14, 50]       True     True

In [98]:
data['overlap'].sum()

924