Day 2 - rock paper scissors strats

In [ ]:
import pandas as pd

opponent = {'A': 'Rock', 'B': 'Paper', 'C': Scissors}

me       = {'X': 'Rock (1)', 'Y': 'Paper' (2), 'Z': Scissors (3)}

win = 6
draw = 3
lose = 0

In [ ]:
moves = pd.read_csv('day2-input.csv')
moves.tail()

In [ ]:
moves['score'] = 0
moves.tail()

In [14]:
def calculate_score(row):
    if row['Us'] == 'X':
        score = 1
        if row['Opp'] == 'A':
            score += 3
            return score
        if row['Opp'] == 'B':
            return score
        if row['Opp'] == 'C':
            score += 6
            return score
    
    if row['Us'] == 'Y':
        score = 2
        if row['Opp'] == 'B':
            score += 3
            return score
        if row['Opp'] == 'C':
            return score
        if row['Opp'] == 'A':
            score += 6
            return score
    
    if row['Us'] == 'Z':
        score = 3
        if row['Opp'] == 'C':
            score += 3
            return score
        if row['Opp'] == 'A':
            return score
        if row['Opp'] == 'B':
            score += 6
            return score

In [15]:
moves['score'] = moves.apply(lambda row : calculate_score(row), axis=1)

In [16]:
moves.head()

  Opp Us  score
0   C  Z      6
1   B  Y      5
2   C  X      7
3   B  Z      9
4   C  Y      2

In [17]:
moves['score'].sum()

11386

part 2: X,Y,Z means LOSE,DRAW,WIN

In [18]:
moves_2 = pd.read_csv('day2-input.csv')

In [27]:
def calculate_score_2(row):
    if row['Us'] == 'X':  # MUST LOSE
        score = 0
        if row['Opp'] == 'A':  # rock beats scissors
            score += 3
            return score
        if row['Opp'] == 'B':  # paper beats rock
            score += 1
            return score
        if row['Opp'] == 'C':  # scissors beats paper
            score += 2
            return score
    
    if row['Us'] == 'Y':  # MUST DRAW
        score = 3
        if row['Opp'] == 'A':  # rock, rock etc.
            score += 1
            return score
        if row['Opp'] == 'B':
            score += 2
            return score
        if row['Opp'] == 'C':
            score += 3
            return score
    
    if row['Us'] == 'Z':  # MUST WIN
        score = 6
        if row['Opp'] == 'A':
            score += 2  # paper
            return score
        if row['Opp'] == 'B':
            score += 3  # scissors
            return score
        if row['Opp'] == 'C':
            score += 1
            return score

In [28]:
moves_2['score'] = moves.apply(lambda row : calculate_score_2(row), axis=1)
moves_2.head()

  Opp Us  score
0   C  Z      7
1   B  Y      5
2   C  X      2
3   B  Z      9
4   C  Y      6

In [29]:
moves_2['score'].sum()

13600